<!--<h1>Public::Trees#index</h1>-->
<div class = "container-fluid">

  <div class = "row">
    <h3>掲示板</h3>
  </div>

  <div class = "row">

    <!--ジャンル検索-->
    <div class = "col-md-4">
      カテゴリ検索
      <!--自分宛の質問-->
      <%= link_to "受信した質問", trees_path(genre: "受信") %>
      <!--自分が送信した質問-->
      <%= link_to "送信した質問", admin_trees_path(genre: "送信") %>
      <!--全ての質問-->
      <%= link_to "全ての質問", admin_trees_path(genre: "全部") %>

    </div>

    <div class = "col-md-6">
      <div class = "row">
        <%= link_to "質問をする", new_tree_path, class: "btn btn-secondary" %>
      </div>

      <div class = "row">

      </div>

      <div class = "row">
        <div class = "col-md-11">

          <table class = "table table-hover">
            <thead>
              <tr>
                <th>タイトル</th>
                <th>カテゴリ</th>
                <th>送信者</th>
                <th>受信者</th>
                <th>日付</th>
                <th>回答数</th>
              </tr>
            </thead>

            <tbody>
              <% @trees.each do |tree| %>
                <% if tree.is_closed == true %>
                  <tr class = "table-secondary">
                <% else %>
                  <tr>
                <% end %>
                    <td><%= link_to tree.title, tree_path(tree.id), class: "text-decoration-none text-dark" %></td>
                    <td><%= tree.job.name %></td>
                    <td>
                      <% if tree.end_user_id.nil? %><!--対象のツリーをadmin_userが投稿した場合-->
                        <%= tree.admin_user.area.name %>
                        <%= tree.admin_user.name_display_short %>
                      <% else %><!--対象のツリーをend_userが投稿した場合-->
                        <%= tree.end_user.area.name %>
                        <%= tree.end_user.name_display_short %>
                      <% end %>
                    </td>
                    <td><%= tree.post.name %></td>
                    <td>
                      <% if tree.responses.exists? %>
                        <%= l tree.latest_response.updated_at %>
                      <% else %>
                        <%= l tree.updated_at %>
                      <% end %>
                    </td>
                    <td>
                      <%= tree.responses.count %>
                      <% if tree.is_closed == true %>
                        </br>終了
                      <% end %>
                    </td>
                  </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>

</div>