<!--<h1>Public::Trees#index</h1>-->
<div class = "container-fluid">
  <div class = "row">

    <!--検索-->
    <div class = "col-md-3 border-right pl-4">
      <!--部分テンプレート：検索-->
      <%= render 'layouts/search' %>
      <!--部分テンプレート：ジャンル検索-->
      <%= render 'layouts/side_search', jobs: @jobs %>
    </div>

    <div class = "col-md-8">
      <div class = "row">
        <h4 class = "bg-light"><%= @bord_name %></h4>
      </div>
      <div class = "row justify-content-center mb-5">
        <%= link_to "質問をする", new_tree_path, class: "btn btn-secondary" %>
      </div>

      <div class = "row">
        <div class = "col-md-12">

          <table class = "table table-hover">
            <thead>
              <tr>
                <th>送信者</th>
                <th>宛先</th>
                <th>カテゴリ</th>
                <th>タイトル</th>
                <th>登校日</th>
                <th>回答数</th>
              </tr>
            </thead>

            <tbody>
              <% @trees.each do |tree| %>
                <% if tree.is_closed == true %>
                  <tr class="table-secondary tree_tbody_tr" data-link="<%= tree_path(tree.id) %>">
                <% else %>
                  <tr class="tree_tbody_tr" data-link="<%= tree_path(tree.id) %>">
                <% end %>
                    <td>
                      <% if tree.end_user_id.nil? %><!--対象のツリーをadmin_userが投稿した場合-->
                        <%= tree.admin_user.area.name %>
                        <%= tree.admin_user.name_display_short %>
                      <% else %><!--対象のツリーをend_userが投稿した場合-->
                        <%= tree.end_user.area.name %>
                        <%= tree.end_user.name_display_short %>
                      <% end %>
                    </td>
                    <td><%= tree.post.name %></td>
                    <td><span style="background-color:<%= tree.job.color %>">&emsp;<%= tree.job.name %>&emsp;</span></td>
                    <td><%= tree.title.truncate(20) %></td>
                    <td>
                      <% if tree.responses.exists? %>
                        <%= l tree.latest_response.updated_at, format: :short %>
                      <% else %>
                        <%= l tree.updated_at, format: :short %>
                      <% end %>
                    </td>
                    <td>
                      <%= tree.responses.count %>
                      <% if tree.is_closed == true %>
                         終了
                      <% end %>
                      <!--レスポンス含め未読がある場合-->
                      <% if h_appli_end_unchecked_notifications_tree(tree.id).present? %>
                        <i class="fa-solid fa-bell"></i>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>

</div>