<!--<h1>Public::Responses#edit</h1>-->
<div class = "container-fluid">

  <div class = "row">
    <div class = "col-md-6">
      <%= form_with model: @res, url: tree_response_path(@tree.id, @res.id), method: :patch do |f| %>
        <div class = "card border-danger mt-5">
          <div class = "card-header bg-danger text-white"><strong>回答を編集する</strong></div>
          <div class = "card-body">
            <div class = "row">
              <%= f.text_area :body, autofocus: true,  placeholder: "回答を入力してください", rows:10, class: "col-sm-12 " %>
            </div>
          </div>
          <div class = "card-footer">
            <div class = "row">
              <%= f.label "添付ファイル追加(複数可)", class: "col-sm-4" %>
              <%= f.file_field :resattachments, multiple: true %>
            </div>
            <% if @res.resattachments.attached? %>
              <div class = "row">
                <%= f.label "添付済みのファイル",class: "col-sm-3" %>
                <div class = "col text-muted"><small>※削除する場合は下記チェックボックスをクリック</small></div>
              </div>
              <div class ="row">
                <div class = "col offset-sm-4 pl-0">
                  <% @res.resattachments.each do |obj| %>
                    <div class = "form-check pl-0">
                      <%= f.check_box :obj_ids, {multiple: true}, obj.id, false %>
                      <% url = rails_blob_path(obj) %>
                      <%= link_to CGI.unescape(File.basename(url)),url %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class = "card-footer">
            <div class = "row">
              <%= f.label :is_closed, "質問を終了する", class: "col-sm-3" %>
              <div class = "col-sm-3 pl-0">
                <%= f.fields_for @tree do |i| %>
                  <%= i.select :is_closed, options_for_select([["", false], ["質問をクローズする", true]], selected: @tree.is_closed ) %>
                <% end %>
              </div>
              <small class = "col text-muted">質問をクローズする場合は「質問をクローズする」選んでください。
                  クローズすると、これ以降、このスレッドに返信はできなくなります</small></p>
            </div>
            <div class = "row d-flex justify-content-end">
              <%= f.submit "編集する", "data-confirm" => "質問をクローズするを選択した場合は、今後回答ができなくなります", class: "btn btn-secondary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

