<!--<h1>Admin::AdminUsers#index</h1>-->
<div class = "container-fluid">

  <div class = "row">
    <h3>管理者一覧画面</h3>
  </div>

  <div class = "row">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>管理者名</th>
          <th>担当拠点</th>
          <th>業務</th>
          <th>ステータス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @admin_users.each do |admin_user| %>
          <tr>
            <td><%= admin_user.id %></td>
            <td><%= admin_user.name_display %></td>
            <td>
              <% admin_user.areas.each do |area| %>
                <%= area.name %></br>
              <% end %>
            </td>
            <td>
              <% admin_user.jobs.each do |job| %>
                <%= job.name %></br>
              <% end %>
            </td>
            <td><%= admin_user.is_deleted ? '無効':'有効' %></td>
            <td><%= link_to "編集", edit_admin_admin_user_path(admin_user.id), class: "btn btn-secondary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
