<!--<h1>Admin::EndUsers#index</h1>-->
<div class = "container-fluid">
  <div class = "row">
    <div class="col-md-3">
      <!--部分テンプレート：ジャンル検索-->
      <%= render 'layouts/side_end', areas: @areas %>
    </div>
    <div class="col-md-8">
      <h5 class="mb-5"><%= @bord_name %>拠点担当者</h5>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>社員番号</th>
            <th>名前</th>
            <th>所属拠点</th>
            <th>ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @end_users.each do |end_user| %>
            <% if end_user.is_deleted == true %>
              <tr class="table-secondary">
            <% else %>
              <tr>
            <% end %>
              <td><%= end_user.id %></td>
              <td><%= end_user.employee_number %></td>
              <td><%= end_user.name_display %></td>
              <td><%= end_user.area.name %></td>
              <td><%= end_user.is_deleted ? "無効":"有効" %></td>
              <td><%= link_to "編集", edit_admin_end_user_path(end_user.id), class: "btn btn-secondary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
