<h2>Sign up</h2>

<%= form_with model: @admin_user, url:admin_user_registration_path do |f| %>
  <%= render "admin/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :employee_number, "社員番号" %>
    <%= f.email_field :employee_number, autofocus: true, autocomplete: "on",  placeholder: "6桁前0を追加"  %>
  </div>

  <div class="field">
    <%= f.label "氏名" %>
    <%= f.label :family_name, "名字" %>
    <%= f.email_field :family_name, autofocus: true, autocomplete: "on",  placeholder: "山田"  %>
    <%= f.label :first_name, "名前" %>
    <%= f.email_field :first_name, autofocus: true, autocomplete: "on",  placeholder: "太郎"  %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード(確認)" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
