<!--<h1>Admin::Trees#edit</h1>-->
<div class = "container-fluid">

  <div class = "row">
    <div class = "col-md-6">
      <%= form_with model: @tree, url: admin_tree_path, method: :patch do |f| %>
        <div class = "card border-secondary mb-3">
          <div class = "card-header">質問を編集する</div>
          <div class = "card-body">
            <div class = "row">
              <%= f.text_field :title, autofocus: true,  placeholder: "タイトルを入力してください", class: "col-sm-12 mb-4" %>
              <%= f.text_area :body, autofocus: true,  placeholder: "質問を入力してください", rows:10, class: "col-sm-12 " %>
            </div>
          </div>
          <div class = "card-footer">
            <div class = "row">
              <%= f.label :post_id, "送信先", class: "col-sm-2" %>
              <%= f.collection_select(:post_id, @user_areas, :id, :name, prompt: "選択してください") %>
            </div>
            <div class = "row">
              <%= f.label :job_id, "質問タグ", class: "col-sm-2" %>
              <%= f.collection_select(:job_id, @jobs, :id, :name, prompt: "選択してください") %>
            </div>
            <div class = "row">
              <%= f.label "添付ファイル(複数可)", class: "col-sm-3" %>
              <%= f.file_field :attachments, multiple: true %>
            </div></br>
            <% if @tree.attachments.attached? %>
              <div class = "row">
                <%= f.label "添付済みのファイル　※削除する場合はチェックボックスをクリック",class: "col" %>
              </div>
              <div class ="row flex-column">
                <!--<ul>-->
                <% @tree.attachments.each do |obj| %>
                  <div class = "form-check">
                    <%= f.check_box :obj_ids, {multiple: true}, obj.id, false %>
                    <% url = rails_blob_path(obj) %>
                    <%= link_to CGI.unescape(File.basename(url)),url %>
                  </div>
                <% end %>
                  <%# @tree.attachments.each do |obj| %>
                    <%# url = rails_blob_path(obj) %>
                    <!--<li>-->
                      <%#= link_to CGI.unescape(File.basename(url)),url %>
                      <%#= link_to "削除", destroy_attachment_admin_tree_path(obj), method: :delete, class: "btn btn-secondary btn-sm" %>
                    <!--</li>-->
                  <%# end %>
                <!--</ul>-->
              </div>
            <% end %>
            <div class = "row">
              <%= f.submit "質問を更新する", class: "btn btn-secondary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

