<!--<h1>Admin::Trees#index</h1>-->
<div class = "container-fluid">

  <div class = "row">
    <h3>掲示板</h3>
  </div>

  <div class = "row">

    <div class = "col-md-4">

    </div>

    <div class = "col-md-6">
      <div class = "row">
        <%= link_to "質問をする", new_admin_tree_path, class: "btn btn-secondary" %>
      </div>

      <div class = "row">

      </div>

      <div class = "row">
        <div class = "col-md-11">

          <% @trees.each do |tree| %>

            <div class = "card border-secondary mb-3">
              <%= link_to admin_tree_path(tree.id), class: "text-decoration-none" do %>
                <div class = "card-header"><%= tree.title %></div>
                <div class = "card-body">
                  <div class = "row">
                    <div class = "col-md-2">
                      <% if tree.end_user_id.nil? %>　<!--対象のツリーをadmin_userが投稿した場合-->
                        <%= image_tag tree.admin_user.get_profile_image(100,100),class: "img img-fluid rounded-circle" %>
                      <% else %>　<!--対象のツリーをend_userが投稿した場合-->
                        <%= image_tag tree.end_user.get_profile_image(100,100),class: "img img-fluid rounded-circle" %>
                      <% end %>
                    </div>
                    <div class = "col-md-10">
                      <p class = "card-text"><%= simple_format(tree.body) %></p>
                    </div>
                  </div>
                </div>
                <div class = "card-footer">
                  <div class = "row">
                    <div class = "btn btn-info btn-sm">
                      <%= tree.job.name %>
                    </div>
                  </div>
                  <div class = "row justify-content-end">
                    <div class = "col-sm-2">投稿日</div>
                    <div class = "col-sm-5">
                      <% if tree.responses.exists? %>
                        <%= l tree.latest_response.updated_at %>
                      <% else %>
                        <%= l tree.updated_at %>
                      <% end %>
                    </div>
                  </div>
                  <div class = "row justify-content-end">
                    <div class = "col-sm-2">送信者</div>
                    <div class = "col-sm-5">
                      <% if tree.end_user_id.nil? %><!--対象のツリーをadmin_userが投稿した場合-->
                        <%= tree.admin_user.area.name %>
                        <%= tree.admin_user.name_display_short %>
                      <% else %><!--対象のツリーをend_userが投稿した場合-->
                        <%= tree.end_user.area.name %>
                        <%= tree.end_user.name_display_short %>
                      <% end %>
                    </div>
                  </div>
                  <div class= "row justify-content-end">
                    <div class = "col-sm-2">宛先</div>
                    <div class = "col-sm-5"><%= tree.post.name %></div>
                  </div>
                </div>
              <% end %>
            </div>

          <% end %>


        </div>
      </div>
    </div>

  </div>

</div>