<!--<h1>Admin::Trees#index</h1>-->
<div class = "container-fluid">

  <div class = "row">

    <!--検索-->
    <div class = "col-md-3 border-right pl-4">
      <!--自分宛の質問-->
      <%= link_to "担当拠点", admin_trees_path(genre: "担当") %></br>

      <!--自分が送信した質問-->
      <%= link_to "自分の投稿", admin_trees_path(genre: "送信") %></br>

      <!--全ての質問-->
      <%= link_to "全ての質問", admin_trees_path(genre: "全て") %>


      <!--拠点検索-->
      <div class="dropdown mt-5">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          拠点
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <% @areas.each do |area| %>
            <%= link_to area.name, admin_trees_path(area: area.id), class: "dropdown-item", type: "button" %>
          <% end %>
        </div>
      </div>

      <!--業務検索-->
      <div class="dropdown mt-4">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          業務
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <% @jobs.each do |job| %>
            <%= link_to job.name, admin_trees_path(job: job.id), class: "dropdown-item", type: "button" %>
          <% end %>
        </div>
      </div>

    </div>

    <div class = "col-md-8">
      <div class = "row">
        <h4 class = "bg-light"><%= @bord_name %></h4>
      </div>
      <div class = "row justify-content-center">
        <%= link_to "質問をする", new_admin_tree_path, class: "btn btn-secondary" %>
      </div>

      <div class = "row">
        <div class = "col-md-12">

          <table class = "table table-hover">
            <thead>
              <tr>
                <th>送信者</th>
                <th>宛先</th>
                <th>カテゴリ</th>
                <th>タイトル</th>
                <th>登校日</th>
                <th>回答数</th>
              </tr>
            </thead>

            <tbody>
              <% @trees.each do |tree| %>
                <% if tree.is_closed == true %>
                  <tr class = "table-secondary">
                <% else %>
                  <tr>
                <% end %>
                    <td>
                      <% if tree.end_user_id.nil? %><!--対象のツリーをadmin_userが投稿した場合-->
                        <%= tree.admin_user.area.name %>
                        <%= tree.admin_user.name_display_short %>
                      <% else %><!--対象のツリーをend_userが投稿した場合-->
                        <%= tree.end_user.area.name %>
                        <%= tree.end_user.name_display_short %>
                      <% end %>
                    </td>
                    <td><%= tree.post.name %></td>
                    <td><%= tree.job.name %></td>
                    <td><%= link_to tree.title, admin_tree_path(tree.id), class: "text-decoration-none text-dark" %></td>
                    <td>
                      <% if tree.responses.exists? %>
                        <%= l tree.latest_response.updated_at %>
                      <% else %>
                        <%= l tree.updated_at %>
                      <% end %>
                    </td>
                    <td>
                      <% if tree.is_closed == true %>
                        終了</br>
                      <% end %>
                      <%= tree.responses.count %>
                    </td>
                  </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>

</div>