<!--部分テンプレート-->
<!--admin admin#index-->
<!--検索機能-->
<% if admin_user_signed_in? %>
  
  <!--検索-->
  <%= form_with url: admin_user_search_admin_searches_path, method: :get do |f| %>
    <%= f.text_field :keyword %>
    <%= f.submit "検索", class: "btn btn-secondary" %>
  <% end %><br></br>
  
  <!--拠点検索-->
  <div class="dropdown mt-5">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      拠点
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <% areas.each do |area| %>
        <%= link_to area.name, admin_admin_users_path(area: area.id), class: "dropdown-item", type: "button" %>
      <% end %>
    </div>
  </div>

  <!--業務検索-->
  <div class="dropdown mt-4">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      業務
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <% jobs.each do |job| %>
        <%= link_to job.name, admin_admin_users_path(job: job.id), class: "dropdown-item", type: "button" %>
      <% end %>
    </div>
  </div>
<% else %>
  
<% end %>