<!--部分テンプレート-->
<!--admin tree#index,show,_notification  public tree#index,show,_notification-->

<!--アドミンユーザーがサインインしている場合-->
<% if admin_user_signed_in? %>
  <!--新着通知-->
  <div class="list-group">
    <% if admin_unchecked_notifications.any? %>
      <%= link_to  admin_notifications_path, class: "list-group-item list-group-item-action list-group-item-light" do %>
        新着通知  <i class="fa-solid fa-bell"></i>
      <% end %>
    <% else %>
      <%= link_to "新着通知", admin_notifications_path, class: "list-group-item list-group-item-action list-group-item-light" %>
    <% end %>
    <!--自分宛の質問-->
    <%= link_to "担当拠点", admin_trees_path(genre: "担当"), class: "list-group-item list-group-item-action list-group-item-light" %>
    <!--全ての質問-->
    <%= link_to "全ての質問", admin_trees_path(genre: "全て"), class: "list-group-item list-group-item-action list-group-item-light" %>
    <!--自分が送信した質問-->
    <%= link_to "自分の投稿", admin_trees_path(genre: "送信"), class: "list-group-item list-group-item-action list-group-item-light" %>
  </div>


  <!--拠点検索-->
  <div class="dropdown mt-5">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      拠点
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <% areas.each do |area| %>
        <%= link_to area.name, admin_trees_path(area: area.id), class: "dropdown-item", type: "button" %>
      <% end %>
    </div>
  </div>

  <!--業務検索-->
  <div class="dropdown mt-4">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      業務
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <% jobs.each do |job| %>
        <%= link_to job.name, admin_trees_path(job: job.id), class: "dropdown-item", type: "button" %>
      <% end %>
    </div>
  </div>
<!--エンドユーザーがサインインしている場合-->
<% else %>
  <!--新着通知-->
  <% if end_unchecked_notifications.any? %>
    <%#= link_to "新着通知", notifications_path, class: "list-group-item list-group-item-action list-group-item-light" %>
    <!--<i class="fa-solid fa-bell"></i>-->
    <%= link_to notifications_path, class: "list-group-item list-group-item-action list-group-item-light" do %>
      新着通知  <i class="fa-solid fa-bell"></i>
    <% end %>
  <% else %>
    <%= link_to "新着通知", notifications_path, class: "list-group-item list-group-item-action list-group-item-light" %>
  <% end %>
  <!--自分宛の質問-->
  <%= link_to "自拠点", trees_path(genre: "自拠点"), class: "list-group-item list-group-item-action list-group-item-light" %>

  <!--自分が送信した質問-->
  <%= link_to "自分の投稿", trees_path(genre: "送信"), class: "list-group-item list-group-item-action list-group-item-light" %>


  <!--業務検索-->
  <div class="dropdown mt-4">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      業務
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <% jobs.each do |job| %>
        <%= link_to job.name, trees_path(job: job.id), class: "dropdown-item", type: "button" %>
      <% end %>
    </div>
  </div>
<% end %>